body {
	background-color: #517FA4;
	font-family: 'Audiowide', cursive;
	color: white;
}

p {
	margin: 0;
}

.white {
	color: white;
	background-color: white;
}

#header {
	font-family: 'Audiowide', cursive;
	font-size: 128px;
	color: white;
	text-align: center;
	width: 100%;
	margin-bottom: 5px;
	padding-bottom: 0px;
}

.heading {
	text-decoration: underline;
	margin-bottom: 0;
	padding-bottom: 0;
}

#subtitle{
	padding: 0px;
	margin: 0px;
	font-size: 24px;
	color: white;
	text-align: center;
	width: 100%;
	position: relative;
	top: -30px;
}

#controlButtons{
	display: block;
	width: 550px;
	height: 155px;
	margin: 0 auto;
	padding: 0;
}

.button{
	font-size: 32px;
	width: 250px;
	height: 150px;
	
	margin: 0;
	border: 1px solid white;
	text-align: center;
	line-height: 150px;
	border-radius: 10px;
}

.button:hover{
	cursor: pointer;
	background-color: #97B7D2;
}

#getImages{
	float: left;
}

#clearImages{
	float: right;
}

#projectDiv
{
	height: 100%;
	width: 100%;
	margin: auto;
	background: black;
}

#pictureDiv
{ 
	height: 787px;
	width: 800px;
	margin:0 auto;
	padding-top: 10px;
	padding-left: 10px;
	position:relative;
	left: 0px;
	top: -800px;
	background: black;
	color: white;
	overflow: hidden;
}

#photo {
	height: 400px;
	width: 400px;
	float: right;
	border: 1px solid papayawhip;
	background-color: papayawhip;
}

#imageCaption{
	font-size: 24px;
	margin-left: 15px;
}

.infoField{
	font-size: 16px;
}

.infoTitle{
	width: 100px;
	font-weight: bold;
	font-size: 18px;
}

#nearbySlider{
	position: absolute;
	left: 42%;
	bottom: 50px;
	border: 2px solid papayawhip;
	-moz-transform: scale(1.5, 1.5);
}

.slideControl {
	position: absolute;
	display: block;
	background-size: 100% 100%;
	width: 100px;
	height: 100px;
	border: 1px solid papayawhip;
	cursor: pointer;
}

#sliderPrev{
	left: 15%;
	bottom: 75px;
}

#sliderNext{
	left: 75%;
	bottom: 75px;
}

#fadedMessage{
	color: rgba(255,255,255,0.5);
	position: absolute;
	width: 100%;
	font-size: 64px;
	text-align: center;
	top: 450px;
}